.divSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}
.divSection .divdiv{
    display: inline;
    margin: 10px;
    align-items: center;
    justify-items: start;
    margin-left: 30px;

}
h3{
    border-bottom: solid black 1px ;
    color: white;
    font-weight: 600;

}
h3:hover{
    color: yellow;

}
