.divSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
h3{
    border-bottom: solid black 1px ;    
}
.divAutoJuguete {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    justify-items: center;
    gap: 3px;
    height: auto;

}
.divAutoJuguete div{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
}