@import "../DiseñoBoton/CustomBoton.css";
.divAutoJuguete {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 10px;
}
.divAutoJuguete .divContenido {
  width: 60%;
  display: grid;
  grid-template-rows: 1fr 0.3fr 0.3fr;
  gap: 10px;
  justify-items: center;
  align-content: space-between;
  border: solid black 1px;
  border-radius: 2%;
  background-color: white;
  cursor: pointer;
}
.divAutoJuguete .divContenido .divImg {
  margin-top: 5px;
  width: 200px;
  height: 170px;
  overflow: hidden;
}
.divAutoJuguete .divContenido .divImg img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: 0.2s;
}
.divAutoJuguete .divContenido .divImg:hover img {
  transform: scale(1.1);
}
.divAutoJuguete .divContenido .descripcionTexto {
  font-size: 17px;
  margin: 0 5px;
}
