.ItemListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h3 {
  color: white;
  font-weight: 600;
  padding: 15px 0 0 20px;
}
h3:hover {
  color: yellow;
}
.divJuguete {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 10px;
}
.divContenido {
  width: 60%;
  display: grid;
  grid-template-rows: 1fr 0.3fr 0.3fr;
  gap: 10px;
  justify-items: center;
  align-content: space-between;
  border: solid black 1px;
  border-radius: 2%;
  background-color: white;
  cursor: pointer;
  margin: 20px;
}
.divContenido .divImg {
  margin-top: 5px;
  width: 200px;
  height: 170px;
  overflow: hidden;
}
.divContenido .divImg img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: 0.2s;
}
.divContenido .divImg:hover img {
  transform: scale(1.1);
}
.divContenido .descripcionTexto {
  font-size: 17px;
  margin: 0 5px;
}
